.modal55 {
  background-color: rgb(252, 231, 218);
  width: 800px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.name55,
.favoriate55 {
  background-color: rgba(255, 191, 0);
  width: 500px;
  height: 100px;
  padding: 10px;
  margin: 12px;
  border-radius: 30px;
  font-size: 23px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -80px;
  left: 10px;
}
.teamwork55 {
  background-color: rgb(250, 214, 147);
  width: 500px;
  height: 250px;
  border-radius: 30px;
  padding: 10px;
  font-size: 23px;
  position: relative;
  top: -80px;
  left: 10px;
}
#image55 {
  width: 400px;
  height: 400px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -30px;
  left: 10px;
}
#close55 {
  background-color: rgb(252, 185, 61);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  font-size: 20px;
  margin-left: auto;
  position: relative;
  top: -350px;
  left: 80px;
  padding: 27px 15px;
}
.closebtn55:hover {
  background-color: rgb(255, 255, 255);
  border: 10px solid black;
}
