.modal55 {
  background-color: rgb(252, 231, 218);
  width: 600px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 30px;
}
.name55,
.favoriate55 {
  background-color: rgba(255, 191, 0);
  width: 300px;
  height: 90px;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
  font-size: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -90px;
  left: 80px;
}
.teamwork55 {
  background-color: rgb(250, 214, 147);
  width: 500px;
  height: 200px;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  position: relative;
  top: -80px;
  left: 10px;
}
#image55 {
  width: 300px;
  height: 300px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -30px;
  left: 10px;
}
#close55 {
  background-color: rgb(252, 185, 61);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  font-size: 20px;
  margin-left: auto;
  position: relative;
  top: -250px;
  left: 10px;
  padding: 15px 5px;
}
#close55:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}
